{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'selflanguagechat/css/style.css' %}">
<script>
    let idNum = 0;
    function addFile(){
        deepCopy();
    }

    function deepCopy()  {
      // 'test' node 선택
      const fileModule = document.getElementById('file-module-'+idNum);



      // 노드 복사하기 (deep copy)
      const newNode = fileModule.cloneNode(true);

      console.log(newNode)

      // 복사된 Node id 변경하기
      idNum++;
      newNode.id = 'file-module-' + idNum;

      // 복사한 노드 붙여넣기
      fileModule.after(newNode);
    }
</script>
{% endblock %}
<form action="chat" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <span id="file-module-0">
        <fieldset>
            <legend class="center-legend"><h1>파일 업로드</h1></legend>
            <label for="file-upload" class="file-upload-label">
            <input id="file-upload" name="files" type="file">
        </label>
        </fieldset>
    </span>
    <div class="button-container">
        <button onclick="addFile()" type="button">파일 추가 </button>
    </div>
    <div class="button-container2">
        <input class="colored-button" type="submit" value="selfChatGPT에게 수어로 문의하기">
    </div>
</form>

{% if error_message %}
  <script>
    alert("{{ error_message }}");
  </script>
{% endif %}